{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Этот метатег необходим для работы Bootstrap -->
        <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
        {% bootstrap_css %}
        <!-- Привязка к таблице стилей Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
        <!-- в css будут специфичные для сайта стили -->
        {% bootstrap_javascript jquery='slim' %}
        <!-- Привязываем файлы веб-сценариев с программным годом Bootstrap. также привязываем сокращенную редакцию
        библиотеки jQuery, без которой не заработает созданное нами раскрывающееся меню (AJAX и анимация
        использоваться не будет - поэтому полная редакция jQuery не нужна -->
    </head>
    <body class="container-fluid">
    <!-- Стилевой класс container-fluid необходимо привязать к каждому тегу, чье содержимое будет
    верстаться с помощью Bootstrap-->
        <header class="mb-4">
            <h1 class="display-1 text-center">Объявления</h1>
        </header>
        <!-- mb-4 - установит большой отступ снизу. display-1, text-center - увеличенный шрифт и выравнивание
         посередине -->
        <div class="row">
        <!-- Этот код рализует фишку Bootstrap - табличную верстку, без участия таблиц.
        Стилевой класс row вынуждает элемент вести себя как строка таблицы, а стилевой класс col -
        как ячейка в этой строке.
        В данно случае создается стркоа (блок <div>) с единственной ячейкой - маркированным списком.
        Сделано для того, чтобы убрать у создаваемого элемента просветы слева и справа (для красоты) -->

            <ul class="col nav justify-content-end border">
             <!-- Маркированный список. Используется для создания горизонтальной полосы навигации (стилевой
             класс nav. Стилевой класс justify-content-end укажет выровнять пункты полосы навигации по правому краю,
             а класс border создаст рамку вокруг нее -->
                {% if user.is_authenticated %}
                <li class="nav-link">Вы зашли как {{ user.username }}</li>
                {% else %}
                <li class="nav-link">Вы не авторизованы</li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'main:register' %}">Регистрация</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button" aria-haspopup="true" aria-expanded="false">Профиль</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'main:profile' %}">Мои объявления</a>
                        <a class="dropdown-item" href="{% url 'main:profile_change' %}">Изменить личные данные</a>
                        <a class="dropdown-item" href="{% url 'main:password_change' %}">Изменить пароль</a>
                        <div class="dropdown-divider"></div> <!-- Разделитель -->
                        <a class="dropdown-item" href="{% url 'main:logout' %}">Выйти</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'main:profile_delete' %}">Удалить</a>
                    </div>
                </li>
                <!-- Вышележащий код создает в полосе навигации пункт с раскрывающимся меню.-->
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'main:login' %}">Вход</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'social:begin' 'vk-oauth2' %}">Войти через ВКонтакте</a>
                </li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'main:other' page='about' %}">О сайте</a></li>
            </ul>
        </div>
        <div class="row">
            <nav class="col-md-auto nav flex-column border">
                <a class="nav-link root" href="{% url 'main:index' %}">Главная</a>
                {% for rubric in rubrics %}
                {% ifchanged rubric.super_rubric.pk %}
                <span class="nav-link root font-weight-bold">
                    {{ rubric.super_rubric.name }}
                </span>
                {% endifchanged %}
                <a class="nav-link" href="{% url 'main:by_rubric' pk=rubric.pk %}">{{ rubric.name }}</a>
                {% endfor %}
                <!-- Перебираем все подрубрики из переменной rubrics (создана менеджером контекста
                bboard_context_processor(). Если изменился ключ надрубрики - выводим название надрубрики и
                выводим ссылки на все подрубрики -->
            </nav>
            <section class="col border py-2">
                {% bootstrap_messages %} <!-- Всплывающие сообщения -->
                {% block content %}
                {% endblock %}
            </section>
        </div>
        <!-- Снова табличная верстка, но из двух ячеек (<nav>, <section>).
        col-md-auto - ширина ячейки соответствует ширине содержимого.
        nav, flex-column - превращяем ячейку в вертикальную панель навигации в стиле Bootstrap.
        border - рамка.
        root - записан в static/main/style.css
        font-weight-bold - полужирный шрифт
        py-2 - небольшие внутренние отступы -->
    <footer class="mt-3">
        <p class="text-right font-italic">&copy; читатели, 2020 г.</p>
    </footer>
    <!-- "Поддон" сайта. mt-3 - средний внешний отступ сверху -->
    </body>
</html>
